/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/* profile */

* {
  box-sizing: border-box;
  -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
  transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
}
body {
  background-color: #f4f4f4;
}

.profileUPC{
    padding-top: 50px;
}

.profile-card-socials{
    padding: 20px;
}
.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0;
    border-radius: 25px;
    text-align: center;
    font-size: 19px;
    line-height: 1.428571429;
}


.rela-block {
  display: block;
  position: relative;
  margin: auto;
}
.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
}
.floated {
  display: inline-block;
  position: relative;
  margin: false;
  float: left;
}
.floated.right {
  float: right;
}
.blurred {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}





.profile-card {
  width: calc(100% - 40px);
  padding-top: 100px;
  margin: 70px auto 30px;
  background-color: #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
}
.profile-pic {
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 180px;
  width: 180px;
  border: 10px solid #fff;
  border-radius: 100%;

  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('https://pbs.twimg.com/media/CdbiubzVIAANj8J.jpg'); */
  background-size: cover;
}
.profile-name-container {
  margin: 0 auto 10px;
  padding: 10px;
  text-align: center;
}
.user-name {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
}
.user-desc {
  letter-spacing: 1px;
  color: #999;
}
.profile-card-stats {
  height: 75px;
  padding: 10px 0px;
  text-align: center;
  overflow: hidden;
}
.profile-stat {
  height: 100%;
  width: 33.3333%;
}
.profile-stat:after {
  color: #999;
}
.works::after {
  content: "works";
}
.followers::after {
  content: "followers";
}
.following::after {
  content: "following";
}
.image {
  width: 240px;
  height: 200px;
  cursor: pointer;
  margin: 0 20px 40px;
  overflow: hidden;
  border-radius: 5px;
  border: 10px solid #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
  background-color: rgba(0,0,0,0.4);
  background-size: cover !important;
  -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
}
.image:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  box-shadow: 0 2px 18px -2px rgba(0,0,0,0.3);
}
.image.hidden {
  height: 0;
  width: 0px;
  margin: 0px;
  border: 0px solid #fff;
}
.button {
  font-family: 'Montserrat';
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 900;
  line-height: 20px;
  min-width: 200px;
  padding: 20px 40px;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #bbb;
  margin: 0 20px;
}
.button:hover {
  color: #2ebaae;
  border: 1px solid #2ebaae;
}
.button.inactive {
  color: #bbb;
  cursor: default;
}
.button.inactive:hover {
  color: #bbb;
  border: 1px solid #bbb;
}




/* home profile */


h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box .wrap-foto{
  display: inline-block;
  /* border: 2px solid pink; */
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;
}
.img-box .profile-card-socials{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
  z-index: 11;
}
.profile .img-box:after, .img-box .profile-card-socials, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box .profile-card-socials i{
	font-size: 20px;
  letter-spacing: 10px;
    text-align: center;

}
 .img-box .profile-card-socials a{
	/* width: 30px;
    height: 30px; */
    text-align: center;
    /* border: 1px solid #88C425; */
    /* margin: 2px;
    padding: 5px; */
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover .profile-card-socials{
	opacity: 1;
}
.img-box .profile-card-socials a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}




/* hack the buttons */
.btn-circle {
  color: white;
}

.btn-twitter-hidden{
  display: none;
}
.btn-facebook-hidden{
  display: none;
}
.btn-instagram-hidden{
  display: none;
}
.btn-linkedin-hidden{
  display: none;
}
.btn-patreon-hidden{
  display: none;
}
.btn-flickrr-hidden{
  display: none;
}
.btn-behance-hidden{
  display: none;
}

.btn-twitter{
  background-color: #2DACF1;
}
.btn-facebook{
    background-color: #4565A0;
}
.btn-instagram{
    background-color: black;
}
.btn-linkedin{
    background-color: #1583BB;
}
.btn-patreon{
    background-color: #FC6520;
}
.btn-flickrr{
    background-color: #1471DC;
}
.btn-behance{
    background-color: #2478FB;
  }



  /* carousel */
/* #testimonials
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
} */

/* Control buttons  */
/* #testimonials .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 40px;
} */
/* Previous button  */
/* #testimonials .carousel-control.left
{
  left: -29px;
} */
/* Next button  */
/* #testimonials .carousel-control.right
{
  right: -29px !important;
} */
/* Changes the position of the indicators */
/* #testimonials .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
} */
/* Changes the color of the indicators */
/* #testimonials .carousel-indicators li
{
  background: #c0c0c0;
}
#testimonials .carousel-indicators .active
{
  background: #333333;
}
#testimonials img
{
  width: 100px;
  height: 100px
}

.user a span{
  display:none;
} */

/* Interaction Container and Icons */
/* .interact {
  display:block;
  float:right;
  margin-right:30px;
  font-family: 'Fontawesome';
}
.interact a {
  text-decoration:none;
} */

/* End carousel */

/* .item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
    border-radius:50%;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
} */



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    #testimonials
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }

} */

/* Small devices (tablets, up to 768px) */
/* @media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile * /

    #testimonials .carousel-indicators {
        bottom: -20px !important;
    }
    #testimonials .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #testimonials .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
} */

